.login{
    height: 100vh;
    background-color: rgb(193,190,255);
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
           width:600px;
           height: 60vh;
           display: flex;
           justify-content: center;
           align-items: center;
           background-color: whitesmoke;
           overflow: hidden;
           border-radius:10px;
        .left{
            height: 100%;
            width: 50%;
            background: linear-gradient(rgb(39,11,96,0.5),rgba(152, 127, 201, 0.5)),url(https://plus.unsplash.com/premium_photo-1672777115098-ab9fdf9f91c1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMnx8fGVufDB8fHx8fA%3D%3D) center;
            background-size: cover;
            overflow: hidden;
            color: white;
            
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 50px;
            

           
            h1{
               font-family: "gilroy";
               text-shadow: 0px 20px 20px white;
          
               font-weight: 100;
               font-size: 40px;
            }
            p{
                font-size: 14px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-weight: 900;
            }
            span{
                font-size: 14px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-weight: 900;
            }
            button{
                height: 40px;
                width: 100px;
                border: none;
                font-family: 'gilroy';
                font-size: larger;
                font-weight:300;
                color: rebeccapurple;
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px;
            height: 100%;
            width: 50%;
            padding: 50px;
           
            h1{
                font-family: "gilroy";
                color: rgb(39,11,96,0.5);
           
                font-weight: 100;
                font-size: 40px;
            }
            form{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                height: 50%;
               
                input{
                    border:2px solid rgb(39,11,96,0.5);
                    border-radius: 10px;
                    // background-color: transparent;
                    height:30px ;
                    text-align: center;
                    text-decoration: underline;
                    text-transform: uppercase;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    background-color: transparent;
                    font-size: 16px;
                    &:hover{
                        background-color: rgba(156, 142, 184, 0.5) ;
                    }
                    &:active{
                        border: none ;
                    }
                }
                button{
                    height: 40px;
                    width: 100px;
                    border: none;
                    font-family: 'gilroy';
                    font-size: larger;
                    font-weight:300;
                    background-color:  rgb(39,11,96,0.5);
                    color: white;

                }
            }
        }
        
    }
}